body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    position: relative; /* ボタンの位置決めの基準にする */
    gap: 20px; /* カラム間の余白 */

    background-color: #f9f9f9;
}

.left-column {
    flex: 3;
    min-width: 60px; /* 隠れているときもボタン幅を確保 */
    max-width: 300px; /* 左カラムの最大幅を固定 */
    position: relative;
    transition: flex 0.5s ease;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
    margin: 20px; /* 外側に余白 */
    padding: 20px; /* 内側に余白 */
    box-sizing: border-box; /* paddingを幅に含める */
}

.left-column.hidden {
    flex: 0 1 60px; /* flex-grow, flex-shrink, flex-basis */
}

.left-column.hidden #toc {
    opacity: 0;
}

.left-column.hidden #toc {
    opacity: 0;
}

.left-column.hidden #toc {
    opacity: 0;
}

.right-column {
    flex: 7;
    /* 右側のカラムのスタイル */
    transition: flex 0.5s ease;
}

.title {
  /* transition をつけると、スタイルの変化が滑らかになる */
  transition: all 0.3s ease;
  font-size: 50px; /* 初期サイズ */
  min-height: 75px; /* コンテンツが空でも高さを維持 */
  padding: 10px;

  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */

  word-break: keep-all; /* 日本語の単語途中での改行を防ぎ、スペースでの改行を許可 */
}
.contents {
  margin-bottom : 40px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  /* text-align: center; */
  padding: 2rem;
  margin-top: 2rem;
  /* border: 1px solid #ddd; */
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.toggle-btn {
    position: absolute;
    top: 15px;
    left: 10px; /* 左カラムの左端に配置 */
    z-index: 10;
    padding: 0;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
}

#toc {
    padding: 10px;
    padding-top: 50px; /* ボタンとの余白を確保 */
    transition: opacity 0.3s ease;
}

#toc ul {
    list-style-type: none;
    padding: 0;
}

#toc li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
}

#toc li a:hover {
    background-color: #969696;
}
